<!DOCTYPE html>
<html>
<head>
  <title>Modifier Période Bonus - Trayo</title>
  <%= stylesheet_link_tag "admin" %>
</head>
<body>
  <% @page_title = "Modifier Période Bonus" %>
  
  <div class="app-layout">
    <%= render 'admin/shared/sidebar' %>
    
    <div class="main-content">
      <%= render 'admin/shared/navbar' %>
      
      <div class="container" style="max-width: 800px;">
        <%= link_to "<i class='fa-icon fa-md fa-arrow-left'></i> Retour aux Périodes Bonus".html_safe, admin_bonus_periods_path, class: "back-link" %>
        
        <div class="card">
          <h2><i class="fa-icon fa-md fa-edit"></i> Modifier Période Bonus</h2>
          
          <%= render 'form', bonus_period: @bonus_period %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

