<!DOCTYPE html>
<html>
<head>
  <title>Trayo Admin</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "admin", "data-turbo-track": "reload" %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <%= javascript_importmap_tags %>
</head>
<body class="dark-mode">
  <script>
    (function() {
      // Activer le mode sombre par défaut
      document.body.classList.add('dark-mode');
      localStorage.setItem('theme', 'dark');
    })();
  </script>
  
  <%= render 'admin/shared/navbar' %>
  <%= render 'admin/shared/sidebar' %>
  
  <div class="main-content">
    <%= yield %>
  </div>
</body>
</html>

